<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 반드시 작성!
    member memeber mamber
 -->
<mapper namespace="Board">
   <insert id="save" parameterType="board">
        insert into board_table(boardTitle, boardPass, boardWriter, boardContents)
            values(#{boardTitle}, #{boardPass}, #{boardWriter}, #{boardContents})
   </insert>
    <select id="findAll" resultType="board">
        select * from board_table
    </select>
    <select id="findById" parameterType="Long" resultType="board">
        select * from board_table where id = #{id}
    </select>
    <delete id="delete" parameterType="Long">
        delete from board_table where id = #{id}
    </delete>
    <select id="updateForm" parameterType="Long" resultType="board">
        select * from board_table where id = #{id}
    </select>
    <update id="update" parameterType="board">
        update board_table
        set boardTitle=#{boardTitle}, boardContents=#{boardContents}
        where id=#{id}
    </update>
</mapper>